<div class="parent" *ngIf="info.token; else loggedOut">
  <div class="center">
    <label class="lable1">Add</label>

    <a href="http://localhost:4200/auth/login" (click)="logout()" class="linkLogOut">Logout</a>

    <table  class="styled-table">
      <tr>
        <th>Name</th>
        <th>Model</th>
       <th>Type</th>
        <th>Range</th>
        <th>Unit</th>
        <th>Location</th>
      </tr>
      <tr *ngFor="let probe of probes">
        <td>{{probe.name}}</td>
        <td>{{probe.model}}</td>
        <td>{{probe.type}}</td>
        <td>{{probe.range_from}}-{{probe.range_to}}</td>
        <td>{{probe.unit}}</td>
        <td>{{probe.location}}</td>
      </tr>
    </table>



  </div>
</div>

<ng-template #loggedOut>
  Please login. <a href="http://localhost:4200/auth/login"><button class="btn btn-secondary">Login</button></a>
</ng-template>
